<!-- header is here -->
<nav
  class="flex justify-between items-center container-fluid mx-auto w-100 position-sticky top-10 border-b border-[#EBEBEB] px-5 pt-3 pb-0"
>
  <div class="flex align-items-end lg:gap-[50px]">
    <div class="logo-container">
      <img
        src="../../../assets/logo.svg"
        alt="Better Diagnostics"
        class="pb-3"
      />
    </div>

    <div class="nav_menu flex gap-2 items-end">
      <a href="#">Home</a>
      <a href="#">Process XRays</a>
      <a href="#">Product Features</a>
      <a href="#">Sample Images</a>
    </div>
  </div>

  <div class="flex items-center gap-4">
    <div
      class="flex items-center justify-between lg:gap-5 text-[#1E1E1E] bg-[#F6F8FA] text-[#4A4A4A] px-[5px] py-[5px] lg:rounded-lg lg:text-sm"
    >
      <p class="flex items-center gap-2">
        <img src="../../rvg.svg" class="lg:w-4 lg:h-4" alt="rvg" />
        <span>RVG - 300/500</span>
      </p>

      <p class="flex items-center gap-2">
        <img src="../../rvg.svg" class="lg:w-4 lg:h-4" alt="rvg" />
        <span>OPG - 300/500</span>
      </p>

      <div class="flex items-center gap-2">
        <p
          class="px-[10px] py-1 rounded-full bg-[#72727E] text-white lg:text-sm"
        >
          325 Days
        </p>
        <i
          class="fa-solid text-[#1E1E1E]"
          [class]="5 > 2 ? 'fa-chevron-down' : 'fa-chevron-up'"
        ></i>
      </div>
    </div>

    <div
      class="flex items-center justify-between text-[#1E1E1E] bg-[#F6F8FA] text-[#4A4A4A] px-[5px] py-[5px] lg:rounded-lg lg:text-sm gap-[10px]"
    >
      <p class="">Better Diagnostic</p>

      <span
        class="rounded-full w-[30px] h-[30px] flex justify-center items-center text-sm text-white bg-[#447CB7] font-bold"
        >BD</span
      >
      <!-- <img src="" alt=""> -->
    </div>
  </div>
</nav>
<!-- header end here -->

<!-- bar start here-->
<div
  class="bg-[#F8F8F8] w-100 px-5 py-4 flex justify-between flex-wrap lg:flex-nowrap items-center lg:mt-[11px]"
>
  <h2 class="text-base text-textBlack font-semibold">Periodontal Chart</h2>

  <div class="flex gap-[10px] items-center flex-wrap">
    <h2>Speech Recognition</h2>
    <button (click)="toggleRecording()" [ngClass]="{ recording: isRecording }">
      <i class="fa" [ngClass]="isRecording ? 'fa-stop' : 'fa-microphone'"></i>
      {{ isRecording ? "Stop Recording" : "Start Recording" }}
    </button>
    <h3>Transcript:</h3>
    <p>{{ transcript }}</p>
    <button class="bar-btn" (click)="saveChart()">
      <img src="../../../assets/icons/bar-icons/save-as.svg" alt="Save" />
      Save
    </button>

    <button class="bar-btn" (click)="toggleEdit()">
      <img src="../../../assets/icons/bar-icons/edit.svg" alt="Edit" 
    />
      Edit
    </button>

    <button class="bar-btn">
      <img src="../../../assets/icons/bar-icons/download.svg" alt="Download" />
      Download
    </button>

    <button class="bar-btn">
      <img src="../../../assets/icons/bar-icons/print.svg" alt="Print" />
      Print
    </button>

    <button class="bar-btn" (click)="clearAll()">
      <img src="../../../assets/icons/bar-icons/clear.svg" alt="Clear All" />
      Clear All
    </button>

    <button class="bar-btn">
      <img src="../../../assets/icons/bar-icons/new-tab.svg" alt="New Report" />
      New Report
    </button>

    <button class="bar-btn">
      <img src="../../../assets/icons/bar-icons/cancel.svg" alt="save" />
      Cancel
    </button>
  </div>
</div>
<!-- bar end here -->

<!-- custom-table  -->

<div class="max-w-screen max-h-[90vh] overflow-auto p-4">
  <table class="chartTable-cutsom mx-auto">
    <thead>
      <tr>
        <th></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
      </tr>
    </thead>

    <tbody>
      <!-- Mobility -->
      <tr>
        <td>Mobility</td>
        <td *ngFor="let value of pdValues.slice(0, 16); let i = index">
          <div class="value-container">
            <!-- Use a fallback value of 0 if mobilityGrade is undefined -->
            <input
              type="number"
              [(ngModel)]="value.mobilityGrade"
              id="mobilityGrade{{ value.toothNumber }}"
              [value]="value.mobilityGrade || 0"
              min="0"
              max="3"
              step="1"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- PD -->
      <tr>
        <td>PD</td>
        <td *ngFor="let value of pdValues.slice(0, 16); let i = index">
          <div>
            <!-- <label for="buccalLeft{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Left</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthBuccalLeft"
              id="buccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Left'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <!-- <label for="buccalCenter{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Center</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthBuccalCenter"
              id="buccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Center'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <!-- <label for="buccalRight{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Right</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthBuccalRight"
              id="buccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Right'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- GM -->
      <tr>
        <td>GM</td>
        <td *ngFor="let value of gmValues.slice(0, 16); let i = index">
          <div class="flex items-center">
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginBuccalLeft"
              id="gmBuccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Left'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginBuccalCenter"
              id="gmBuccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Center'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginBuccalRight"
              id="gmBuccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Right'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- CAL -->
      <tr>
        <td>CAL</td>
        <td *ngFor="let value of calValues.slice(0, 16); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelBuccalLeft"
              id="calBuccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Left'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelBuccalCenter"
              id="calBuccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Center'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelBuccalRight"
              id="calBuccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Right'"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- MGJ -->
      <tr>
        <td>MGJ</td>
        <td *ngFor="let value of mgjValues.slice(0, 16); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionBuccalLeft"
              id="mucogingivalJunctionBuccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Left'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionBuccalCenter"
              id="mucogingivalJunctionBuccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Center'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionBuccalRight"
              id="mucogingivalJunctionBuccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Right'"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- FG -->
      <tr>
        <td>FG</td>
        <td>
          <div *ngIf="3 > 2" class="triangle-shapde">
            <div class="above-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>

            <div class="rectangle relative">
              <span class="bottom_line"></span>
            </div>

            <div class="bottom-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="3 > 2" class="traingle-ovals-shape">
            <div class="above-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
            <div class="rectangle"></div>
            <div class="bottom-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="3 > 2" class="rectangle-H-divided-shape">
            <div class="above-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
            <div class="rectangle relative">
              <span class="divider"></span>
            </div>
            <div class="bottom-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="3 > 2" class="rectangle-V-divided-shape">
            <div class="above-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
            <div class="rectangle relative">
              <span class="divider"></span>
            </div>
            <div class="bottom-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <!-- PD -->

      <tr>
        <td>PD</td>
        <td *ngFor="let value of pdValues.slice(0, 16); let i = index">
          <div>
            <!-- <label for="buccalLeft{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Left</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthLingualLeft"
              id="buccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Left'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <!-- <label for="buccalCenter{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Center</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthLingualCenter"
              id="buccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Center'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <!-- <label for="buccalRight{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Right</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthLingualRight"
              id="buccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Right'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- GM -->
      <tr>
        <td>GM</td>
        <td *ngFor="let value of gmValues.slice(0, 16); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginLingualLeft"
              id="gmLingualLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Left'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginLingualCenter"
              id="gmLingualCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Center'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginLingualRight"
              id="gmLingualRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Right'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>
      <!-- CAL -->
      <tr>
        <td>CAL</td>
        <td *ngFor="let value of calValues.slice(0, 16); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelLingualLeft"
              id="calLingualLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Left'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelLingualCenter"
              id="calLingualCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Center'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelLingualRight"
              id="calLingualRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Right'"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- MGJ -->
      <tr>
        <td>MGJ</td>
        <td *ngFor="let value of mgjValues.slice(0, 16); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionLingualLeft"
              id="mucogingivalJunctionLingualLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Left'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionLingualCenter"
              id="mucogingivalJunctionLingualCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Center'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionLingualRight"
              id="mucogingivalJunctionLingualRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Right'"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="chartTable-cutsom mx-auto">
    <thead>
      <tr>
        <th></th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>24</th>
        <th>25</th>
        <th>26</th>
        <th>27</th>
        <th>28</th>
        <th>29</th>
        <th>30</th>
        <th>31</th>
        <th>32</th>
      </tr>
    </thead>

    <tbody>
      <!-- Mobility -->
      <tr>
        <td>Mobility</td>
        <td *ngFor="let value of pdValues.slice(16, 32); let i = index">
          <div class="value-container">
            <!-- Use a fallback value of 0 if mobilityGrade is undefined -->
            <input
              type="number"
              [(ngModel)]="value.mobilityGrade"
              id="mobilityGrade{{ value.toothNumber }}"
              [value]="value.mobilityGrade || 0"
              min="0"
              max="3"
              step="1"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- PD -->
      <tr>
        <td>PD</td>
        <td *ngFor="let value of pdValues.slice(16, 32); let i = index">
          <div>
            <!-- <label for="buccalLeft{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Left</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthBuccalLeft"
              id="buccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Left'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <!-- <label for="buccalCenter{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Center</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthBuccalCenter"
              id="buccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Center'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <!-- <label for="buccalRight{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Right</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthBuccalRight"
              id="buccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Right'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- GM -->
      <tr>
        <td>GM</td>
        <td *ngFor="let value of gmValues.slice(16, 32); let i = index">
          <div class="flex items-center">
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginBuccalLeft"
              id="gmBuccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Left'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginBuccalCenter"
              id="gmBuccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Center'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginBuccalRight"
              id="gmBuccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Right'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- CAL -->
      <tr>
        <td>CAL</td>
        <td *ngFor="let value of calValues.slice(16, 32); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelBuccalLeft"
              id="calBuccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Left'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelBuccalCenter"
              id="calBuccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Center'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelBuccalRight"
              id="calBuccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Right'"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- MGJ -->
      <tr>
        <td>MGJ</td>
        <td *ngFor="let value of mgjValues.slice(16, 32); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionBuccalLeft"
              id="mucogingivalJunctionBuccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Left'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionBuccalCenter"
              id="mucogingivalJunctionBuccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Center'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionBuccalRight"
              id="mucogingivalJunctionBuccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Buccal Right'"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- FG -->
      <tr>
        <td>FG</td>
        <td>
          <div *ngIf="3 > 2" class="triangle-shapde">
            <div class="above-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>

            <div class="rectangle relative">
              <span class="bottom_line"></span>
            </div>

            <div class="bottom-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="3 > 2" class="traingle-ovals-shape">
            <div class="above-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
            <div class="rectangle"></div>
            <div class="bottom-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="3 > 2" class="rectangle-H-divided-shape">
            <div class="above-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
            <div class="rectangle relative">
              <span class="divider"></span>
            </div>
            <div class="bottom-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="3 > 2" class="rectangle-V-divided-shape">
            <div class="above-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
            <div class="rectangle relative">
              <span class="divider"></span>
            </div>
            <div class="bottom-ovals">
              <span class="oval"></span>
              <span class="oval"></span>
              <span class="oval"></span>
            </div>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <!-- PD -->
      <!-- PD -->
      <tr>
        <td>PD</td>
        <td *ngFor="let value of pdValues.slice(16, 32); let i = index">
          <div>
            <!-- <label for="buccalLeft{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Left</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthLingualLeft"
              id="buccalLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Left'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <!-- <label for="buccalCenter{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Center</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthLingualCenter"
              id="buccalCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Center'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <!-- <label for="buccalRight{{value.toothNumber}}">Tooth {{value.toothNumber}} Buccal Right</label> -->
            <input
              type="number"
              [(ngModel)]="value.pocketDepthLingualRight"
              id="buccalRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Right'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- GM -->
      <tr>
        <td>GM</td>
        <td *ngFor="let value of gmValues.slice(16, 32); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginLingualLeft"
              id="gmLingualLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Left'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginLingualCenter"
              id="gmLingualCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Center'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.gingivalMarginLingualRight"
              id="gmLingualRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Right'"
              (change)="calculateCAL(value)"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>
      <!-- CAL -->
      <tr>
        <td>CAL</td>
        <td *ngFor="let value of calValues.slice(16, 32); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelLingualLeft"
              id="calLingualLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Left'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelLingualCenter"
              id="calLingualCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Center'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.clinicalAttachmentLevelLingualRight"
              id="calLingualRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Right'"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>

      <!-- MGJ -->
      <tr>
        <td>MGJ</td>
        <td *ngFor="let value of mgjValues.slice(16, 32); let i = index">
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionLingualLeft"
              id="mucogingivalJunctionLingualLeft{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Left'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionLingualCenter"
              id="mucogingivalJunctionLingualCenter{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Center'"
              [disabled]="!isEditMode"
            />
          </div>
          <div>
            <input
              type="number"
              [(ngModel)]="value.mucogingivalJunctionLingualRight"
              id="mucogingivalJunctionLingualRight{{ value.toothNumber }}"
              [placeholder]="'Tooth ' + value.toothNumber + ' Lingual Right'"
              [disabled]="!isEditMode"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
