<!-- header is here -->
<nav
    class="flex justify-between items-center container-fluid mx-auto w-100 position-sticky top-10 border-b border-[#EBEBEB] px-5 pt-3 pb-0">
    <div class="flex align-items-end lg:gap-[50px]">
        <div class="logo-container">
            <img src="../../../assets/logo.svg" alt="Better Diagnostics" class="pb-3">
        </div>


        <div class="nav_menu flex gap-2 items-end">
            <a href="#">Home</a>
            <a href="#">Process XRays</a>
            <a href="#">Product Features</a>
            <a href="#">Sample Images</a>
        </div>
    </div>

    <div class="flex items-center gap-4">
        <div
            class="flex items-center justify-between lg:gap-5 text-[#1E1E1E] bg-[#F6F8FA] text-[#4A4A4A] px-[5px] py-[5px] lg:rounded-lg lg:text-sm">

            <p class="flex items-center gap-2">
                <img src="../../rvg.svg" class="lg:w-4 lg:h-4" alt="rvg"> <span>RVG - 300/500</span>
            </p>

            <p class="flex items-center gap-2">
                <img src="../../rvg.svg" class="lg:w-4 lg:h-4" alt="rvg"> <span>OPG - 300/500</span>
            </p>


            <div class="flex items-center gap-2">
                <p class="px-[10px] py-1 rounded-full bg-[#72727E] text-white lg:text-sm ">
                    325 Days
                </p>
                <i class="fa-solid text-[#1E1E1E]" [class]=" 5>2 ? 'fa-chevron-down' : 'fa-chevron-up' "></i>
            </div>
        </div>

        <div
            class="flex items-center justify-between text-[#1E1E1E] bg-[#F6F8FA] text-[#4A4A4A] px-[5px] py-[5px] lg:rounded-lg lg:text-sm gap-[10px]">

            <p class="">Better Diagnostic</p>

            <span
                class="rounded-full w-[30px] h-[30px] flex justify-center items-center text-sm text-white bg-[#447CB7] font-bold">BD</span>
            <!-- <img src="" alt=""> -->
        </div>


    </div>
</nav>
<!-- header end here -->


<!-- bar start here-->
<div class="bg-[#F8F8F8] w-100 px-5 py-4 flex justify-between flex-wrap lg:flex-nowrap items-center lg:mt-[11px]">
    <h2 class="text-base text-textBlack font-semibold">Periodontal Chart</h2>

    <div class="flex gap-[10px] items-center flex-wrap">

        <button class="bar-btn">
            <img src="../../../assets/icons/bar-icons/save-as.svg" alt="Save">
            Save
        </button>

        <button class="bar-btn">
            <img src="../../../assets/icons/bar-icons/edit.svg" alt="Edit">
            Edit
        </button>

        <button class="bar-btn">
            <img src="../../../assets/icons/bar-icons/download.svg" alt="Download">
            Download
        </button>

        <button class="bar-btn">
            <img src="../../../assets/icons/bar-icons/print.svg" alt="Print">
            Print
        </button>

        <button class="bar-btn">
            <img src="../../../assets/icons/bar-icons/clear.svg" alt="Clear All">
            Clear All
        </button>

        <button class="bar-btn">
            <img src="../../../assets/icons/bar-icons/new-tab.svg" alt="New Report">
            New Report
        </button>

        <button class="bar-btn">
            <img src="../../../assets/icons/bar-icons/cancel.svg" alt="save">
            Cancel
        </button>
    </div>
</div>
<!-- bar end here -->


<!-- custom-table  -->

<div class="max-w-screen max-h-[90vh] overflow-auto p-4">
    <table class="chartTable-cutsom  mx-auto">
        <thead>
            <tr>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>16</th>
            </tr>
        </thead>

        <tbody>
            <!-- Mobility -->
            <tr>
                <td>Mobility</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- PD -->
            <tr>
                <td>PD</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- GM -->
            <tr>
                <td>GM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- CAL -->
            <tr>
                <td>CAL</td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="4" class="text-textDanger">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="5" class="text-textDanger">
                        <input type="number" value="7">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="4" class="text-textDanger">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="5" class="text-textDanger">
                        <input type="number" value="6" class="text-textDanger">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
            </tr>
            <!-- MGJ -->
            <tr>
                <td>MGJ</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- FG -->
            <tr>
                <td>FG</td>
                <td>

                    <div *ngIf="3>2" class="triangle-shapde">
                        <div class="above-ovals">
                            <span class="oval"></span>
                            <span class="oval"></span>
                            <span class="oval"></span>
                        </div>

                        <div class="rectangle relative">
                            <span class="bottom_line"></span>
                        </div>

                        <div class="bottom-ovals">
                            <span class="oval"></span>
                            <span class="oval"></span>
                            <span class="oval"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="3>2" class="traingle-ovals-shape">
                        <div class="above-ovals">
                            <span class="oval"></span>
                            <span class="oval"></span>
                            <span class="oval"></span>
                        </div>
                        <div class="rectangle"></div>
                        <div class="bottom-ovals">
                            <span class="oval"></span>
                            <span class="oval"></span>
                            <span class="oval"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="3>2" class="rectangle-H-divided-shape">
                        <div class="above-ovals">
                            <span class="oval"></span>
                            <span class="oval"></span>
                            <span class="oval"></span>
                        </div>
                        <div class="rectangle relative">
                            <span class="divider"></span>
                        </div>
                        <div class="bottom-ovals">
                            <span class="oval"></span>
                            <span class="oval"></span>
                            <span class="oval"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="3>2" class="rectangle-V-divided-shape">
                        <div class="above-ovals">
                            <span class="oval"></span>
                            <span class="oval"></span>
                            <span class="oval"></span>
                        </div>
                        <div class="rectangle relative">
                            <span class="divider"></span>
                        </div>
                        <div class="bottom-ovals">
                            <span class="oval"></span>
                            <span class="oval"></span>
                            <span class="oval"></span>
                        </div>
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- PD -->
            <tr>
                <td>PD</td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="4" class="text-textDanger">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="5" class="text-textDanger">
                        <input type="number" value="7">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="4" class="text-textDanger">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="5" class="text-textDanger">
                        <input type="number" value="6" class="text-textDanger">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
                <td>
                    <div class="CAL-value-container">
                        <input type="number" value="1">
                        <input type="number" value="2">
                        <input type="number" value="3">
                    </div>
                </td>
            </tr>
            <!-- GM -->
            <tr>
                <td>GM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- CAL -->
            <tr>
                <td>CAL</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- MGJ -->
            <tr>
                <td>MGJ</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>