.dilog-labelNinput {
    padding: 0 5px;

    label {
        display: block;
        font-size: 14px;
        margin-bottom: 6px;
        color: #1E1E1E;
        text-transform: capitalize;
        font-weight: 400;
        width: 100%;
    }

    input {
        width: 100%;
        border: 1px solid rgba(30, 30, 30, .8);
        font-size: 14px;
        font-weight: 500;
        color: #1E1E1E;
        padding: 6px 8px;
        border-radius: .25rem;

        &:focus {
            outline: none;
        }

        &:placeholder {
            color: rgba(30, 30, 30, .8);
            font-weight: 400;
            font-size: 14px;
        }
    }
}


// .p-datatable-wrapper {
//     max-height: calc(100vh - 200px);
// }