.login-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/assets/login-bg.png);
    background-repeat: repeat;
    background-size: 40%;
    background-position: center;
    z-index: 9;
    opacity: .1;
  }

}



.grid-one {
  width: 490px;
  border-radius: 12px;
  height: fit-content;
  background: #fff;
  border: 1px solid #eee;
  // position: relative;
  // justify-content: center;
  // align-items: center;
  z-index: 99;
  position: relative;

  form {
    padding: 20px;
    // width: 60%;
  }

  .password-container {
    position: relative;
  }

  .input-wrapper {
    position: relative;
  }

  .show-pass {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .loginBtn {
    background: linear-gradient(231.55deg, #0292B1 2.13%, #564DB4 100%);
    width: 100%;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .success-message {
    color: green;
    /* Green text for success */
    margin-top: 10px;
    /* Space above the message */
  }

  .error-message {
    color: red;
    /* Red text for error */
    margin-top: 10px;
    /* Space above the message */
  }

  .checkbox-login {
    label {
      font-size: 12px;
      color: #a1a1a1;
      font-weight: 500;
    }
  }

  .forgotText {
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }

  .reset-password-link {
    cursor: pointer;
  }

  .loginWShopify {
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #efefef;
    color: #828282;
    font-size: 14px;
    font-weight: 500;

    img {
      width: 20px;
      height: 22.77px;
    }
  }

  .createAccoutn_text {
    p {
      display: inline !important;
      color: #828282;
      font-weight: 400;
    }

    a {
      font-weight: 500;
      color: #525252;
      opacity: 0.8;
      text-decoration: none;
      transition: all .3s ease-in-out;

      &:hover {
        color: #7f89e2;
      }
    }
  }
}

.login-input {
  label {
    font-size: 14px;
    font-weight: 500;
    color: #242424;
    margin-bottom: 4px;
  }

  input {
    color: #242424;
    width: 100%;
    background: transparent;
    border: 1px solid #eee;
    padding: 8px 10px;
    font-size: 14px;

    &::placeholder {
      font-size: 14px;
      color: #747474;
    }

    &:focus,
    &:focus-visible {
      border: 0 !important;
      outline: 0 !important;
    }
  }
}

// Form UI here
.login-heading_bar {
  h1 {
    font-size: 28px;
    font-weight: 600;
    color: #525252;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    color: #525252;
  }
}


@media (max-width:1200px) {
  .grid-one form {
    // width: 80%;
  }
}