/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    body {
        font-family: 'Rubik';
        -webkit-font-smoothing: subpixel-antialiased;
    }

    .bar-btn {
        background: #fff;
        border-radius: 8px;
        padding: 7px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #1E1E1E;

        img {
            height: 20px;
            width: 20px;
        }
    }
}